.deps
.libs
*.la
*.lo
*.o
*.pyc
*.pc
Makefile
Makefile.in
libbitcoin.pc

bin
obj
.*.swp
*~
/*.kdev4
/.cproject
/.project
/.settings
/nbproject
*.log

/aclocal.m4
/autom4te.cache
/build-aux
/dependencies
/config.*
/configure
/libtool
.dirstamp

.DS_Store
.vscode
*.lnk